<div id="<%= dom_id spot %>">
  <p>
    <strong>Name:</strong>
    <%= spot.name %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= spot.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= spot.longitude %>
  </p>

</div>
