<div class="container">
  <div class="row py-3">
    <div class="<%= common_column_spacing %>">
      <h1>New Session</h1>
      <%= render 'form', session: @session %>
      <%= link_to 'Back', root_path, class: "btn btn-primary my-1 btn-block col-12" %>
    </div>
  </div>
</div>