<p id="notice"><%= notice %></p>

<p>
  <strong>Success url:</strong>
  <%= @charge.success_url %>
</p>

<p>
  <strong>Cancel url:</strong>
  <%= @charge.cancel_url %>
</p>

<%= link_to 'Back', charges_path %>
