
<%= render "user", user: @user, buttons: false %>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary btn-block col-12 my-1" %>
  <%= link_to 'Back', users_path, class: "btn btn-primary btn-block col-12 my-1" %>
<% end %>

<% @user.sessions.each do |session| %>
  <%= render "sessions/session", session: session %>
<% end %>

<div class="body">
  <div class="main-content">
    <nav class="navbar navbar-expand-lg navbar-light bg-white d-none d-lg-flex">
      <div class="container-fluid">
        <!-- Form -->
        <form>
          <div class="input-group input-group-flush">
            <div class="input-group-text">
              <i class="fas fa-search relative-top--2"></i>
            </div>

            <input type="text" class="form-control dropdown-toggle" data-bs-toggle="dropdown" placeholder="Search..." aria-label="Search" aria-expanded="false">

            <div class="dropdown-menu dropdown-menu-card shadow-light-sm">
              <div class="card-body">
                <h6 class="text-uppercase-xs text-gray-500 mb-3">
                  Recent searches
                </h6>
                <div class="d-flex justify-content-between">
                  <a href="#!" class="fs-sm text-primary">Order #3</a>
                  <a href="#!" class="fs-sm text-primary">User notifications</a>
                  <a href="#!" class="fs-sm text-primary">Slow queries</a>
                </div>

                <hr>

                <h6 class="text-uppercase-xs text-gray-500 mb-3">
                  Customers
                </h6>
                <div class="mb-3">
                  <span class="avatar avatar-sm me-2">
                    <img src="./assets/img/uifaces/10.jpg" class="avatar-image rounded-circle" alt="">
                  </span>
                  <a href="#!" class="link-darkblue">Ernest Hemingway</a>
                </div>
                <div class="d-flex align-items-center mb-3">
                  <span class="avatar avatar-sm me-2">
                    <img src="./assets/img/uifaces/7.jpg" class="avatar-image rounded-circle" alt="">
                  </span>
                  <a href="#!" class="link-darkblue">Maria Popova</a>
                  <span class="badge bg-pastel-purple text-darkblue text-uppercase-xs ms-auto">
                    NEW
                  </span>
                </div>
                <div class="mb-3">
                  <span class="avatar avatar-sm me-2">
                    <img src="./assets/img/uifaces/6.jpg" class="avatar-image rounded-circle" alt="">
                  </span>
                  <a href="#!" class="link-darkblue">Mark Twain</a>
                </div>
                <div class="mb-3">
                  <span class="avatar avatar-sm me-2">
                    <img src="./assets/img/uifaces/4.jpg" class="avatar-image rounded-circle" alt="">
                  </span>
                  <a href="#!" class="link-darkblue">Joan Didion</a>
                </div>
                <div class="mb-3">
                  <span class="avatar avatar-sm me-2">
                    <img src="./assets/img/uifaces/3.jpg" class="avatar-image rounded-circle" alt="">
                  </span>
                  <a href="#!" class="link-darkblue">F. Scott Fitzgerald</a>
                </div>
                <div class="mb-3">
                  <span class="avatar avatar-sm me-2">
                    <img src="./assets/img/uifaces/2.jpg" class="avatar-image rounded-circle" alt="">
                  </span>
                  <a href="#!" class="link-darkblue">Virgina Woolf</a>
                </div>
                <div>
                  <span class="avatar avatar-sm me-2">
                    <img src="./assets/img/uifaces/1.jpg" class="avatar-image rounded-circle" alt="">
                  </span>
                  <a href="#!" class="link-darkblue">J.R.R. Tolkien</a>
                </div>
              </div>
              <a href="#!" class="card-footer-btn btn btn-purple justify-content-center">
                See all results <i class="fas fa-chevron-right fa-xs ms-2"></i>
              </a>
            </div>
          </div>
        </form>

        <!-- User -->
        <div class="d-flex align-items-center">
          <div class="dropdown d-none d-md-flex">
            <a href="#" class="svg-icon svg-icon-sm" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-j</title><path d="M427.68,351.43C402,320,383.87,304,383.87,217.35,383.87,138,343.35,109.73,310,96c-4.43-1.82-8.6-6-9.95-10.55C294.2,65.54,277.8,48,256,48S217.79,65.55,212,85.47c-1.35,4.6-5.52,8.71-9.95,10.53-33.39,13.75-73.87,41.92-73.87,121.35C128.13,304,110,320,84.32,351.43,73.68,364.45,83,384,101.61,384H410.49C429,384,438.26,364.39,427.68,351.43Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M320,384v16a64,64,0,0,1-128,0V384" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
              <div class="rounded-circle bg-primary position-absolute top-0 start-100 translate-middle p-1"></div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-card shadow-light-sm me-n3">
              <div class="card-header">
                <h6 class="card-header-title">
                  Notifications (2)
                </h6>
                <a href="#!" class="small">
                  View all

                  <i class="fas fa-chevron-right fa-xs ms-1"></i>
                </a>
              </div>
              <div class="card-body">
                <a href="#!" class="row text-reset text-decoration-none bg-light rounded py-2 gx-3">
                  <div class="col-auto">
                    <div class="avatar">
                      <img src="./assets/img/uifaces/10.jpg" class="avatar-image rounded-circle" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="fs-sm">
                      <strong>John Smith</strong> mentioned you in a comment.
                    </div>
                    <div class="fs-xs fw-bold text-gray-500 mt-2">
                      3m ago
                    </div>
                  </div>
                </a>
                <a href="#!" class="row text-reset text-decoration-none bg-light rounded py-2 gx-3 mt-3">
                  <div class="col-auto">
                    <div class="avatar">
                      <img src="./assets/img/uifaces/12.jpg" class="avatar-image rounded-circle" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="fs-sm">
                      <strong>Mark Twain</strong> added a new project Website.
                    </div>
                    <div class="fs-xs fw-bold text-gray-500 mt-2">
                      1d ago
                    </div>
                  </div>
                </a>
                <a href="#!" class="row text-reset text-decoration-none py-2 gx-3 mt-3">
                  <div class="col-auto">
                    <div class="avatar">
                      <img src="./assets/img/uifaces/9.jpg" class="avatar-image rounded-circle" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="fs-sm">
                      <strong>Maria Popova</strong> archived the to-do list April Tasks 📂.
                    </div>
                    <div class="fs-xs fw-bold text-gray-500 mt-2">
                      3d ago
                    </div>
                  </div>
                </a>
                <a href="#!" class="row text-reset text-decoration-none py-2 gx-3 mt-3">
                  <div class="col-auto">
                    <div class="avatar">
                      <img src="./assets/img/uifaces/8.jpg" class="avatar-image rounded-circle" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="fs-sm">
                      <strong>Joan Didion</strong> commented on a project you're assigned in.
                    </div>
                    <div class="fs-xs fw-bold text-gray-500 mt-2">
                      1 week ago
                    </div>
                  </div>
                </a>
                <a href="#!" class="row text-reset text-decoration-none py-2 gx-3 mt-3">
                  <div class="col-auto">
                    <div class="avatar">
                      <img src="./assets/img/uifaces/7.jpg" class="avatar-image rounded-circle" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="fs-sm">
                      <strong>Ernest Hemingway</strong> mentioned you in a comment.
                    </div>
                    <div class="fs-xs fw-bold text-gray-500 mt-2">
                      1 month ago
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="dropdown mx-4">
            <a href="#" class="svg-icon" data-bs-toggle="dropdown">
              <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-g</title><line x1="192" y1="448" x2="320" y2="448" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M384,208v32c0,70.4-57.6,128-128,128h0c-70.4,0-128-57.6-128-128V208" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="256" y1="368" x2="256" y2="448" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M256,64a63.68,63.68,0,0,0-64,64V239c0,35.2,29,65,64,65s64-29,64-65V128C320,92,292,64,256,64Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-n3">
              <a class="dropdown-item" href="#!">
                New podcast
              </a>
              <a class="dropdown-item" href="#!">
                New video
              </a>
              <a class="dropdown-item" href="#!">
                Go live
              </a>
            </div>
          </div>

          <div class="dropdown ms-2">
            <a href="#" class="d-flex align-items-center" data-bs-toggle="dropdown">
              <span class="avatar">
                <img src="./assets/img/uifaces/9.jpg" class="avatar-image rounded-circle" alt="">
              </span>
              <span class="text-dark ms-2">Adrian, G.</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="./profile.html">My profile</a>
              <a class="dropdown-item" href="./account.html">Account settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="./sign-in.html">Log out</a>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <div class="w-100 h-150 h-md-250 bg-cover" style="background-image: url('assets/img/unsplash/2.png');">
    </div>

    <div class="container-fluid">
      <div class="d-md-flex align-items-center">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-xxl mt-n4 relative-top--5">
            <img src="assets/img/uifaces/13.jpg" class="avatar-image rounded-circle border border-white border-2" alt="">
          </div>
          <div class="flex-1 ms-4 mt-4">
            <h3 class="mb-0">
              Steven Gerrard
            </h3>
            <p class="text-gray-600">
              @steven
            </p>
          </div>
        </div>
        <a href="#!" class="btn btn-primary hover-lift-light shadow-light-sm ms-auto">
          <span class="svg-icon svg-icon-sm text-white me-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-a</title><line x1="256" y1="112" x2="256" y2="400" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="400" y1="256" x2="112" y2="256" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
          </span>
          Follow
        </a>
      </div>

      <ul class="nav nav-tabs nav-overflow mt-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="profile.html">
            Feed
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile-projects.html">
            Projects <span class="badge rounded-pill bg-primary ms-1">7</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile-files.html">
            Files
          </a>
        </li>
      </ul>

      <div class="row mt-4 mt-md-5 mb-7">
        <div class="col-md-8">
          <!-- post -->
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-wrap align-items-start">
                <div class="avatar me-3">
                  <img src="assets/img/uifaces/12.jpg" class="avatar-image rounded-circle" alt="">
                </div>
                <div class="flex-1">
                  <div class="fw-bold">
                    Joan Didion
                  </div>
                  <span class="text-muted fs-sm">
                    3h ago
                  </span>
                </div>

                <div class="dropdown ms-auto">
                  <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon text-gray-500">
                      <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-f</title><circle cx="256" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><circle cx="416" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><circle cx="96" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/></svg>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end shadow-light-sm" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#!">Edit</a>
                    <a class="dropdown-item" href="#!">Remove</a>
                  </div>
                </div>
              </div>

              <p class="mt-3">
                Most human beings complain about the meanness of nature, because we are born for a brief span of life, and because this spell of time that has been given to us rushes by so swiftly and rapidly that with very few exceptions life ceases for the rest of us just when we are getting ready for it.
              </p>

              <img class="img-fluid rounded" src="assets/img/unsplash/1.jpeg"></img>

              <!-- react -->
              <div class="d-flex align-items-center border-bottom border-gray-200 mt-4 pb-4">
                <a href="#!" class="btn btn-white btn-sm text-primary me-1">
                  👍 <span class="ms-1">32</span>
                </a>
                <a href="#!" class="btn btn-white btn-sm text-primary me-1">
                  🙌 <span class="ms-1">12</span>
                </a>
                <a href="#!" class="btn btn-white btn-sm text-primary me-1">
                  ❤️ <span class="ms-1">5</span>
                </a>

                <div class="dropdown">
                  <a href="#" class="btn btn-white text-primary btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fs-base fa-smile text-primary"></i> +
                  </a>
                  <div class="dropdown-menu shadow-light-sm" aria-labelledby="dropdownMenuButton">
                    <div class="row row-cols-3 justify-content-between text-center fs-lg w-100 g-0">
                      <div class="col mb-3"><a href="#!" class="text-decoration-none">👍</a></div>
                      <div class="col mb-3"><a href="#!" class="text-decoration-none">🙌</a></div>
                      <div class="col mb-3"><a href="#!" class="text-decoration-none">❤️</a></div>
                      <div class="col"><a href="#!" class="text-decoration-none">🎉</a></div>
                      <div class="col"><a href="#!" class="text-decoration-none">😮</a></div>
                      <div class="col"><a href="#!" class="text-decoration-none">👀</a></div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- comments -->
              <div class="d-flex mt-3">
                <div class="avatar me-3">
                  <img src="assets/img/uifaces/12.jpg" class="avatar-image rounded-circle" alt="">
                </div>
                <div class="flex-1 bg-light rounded-3 py-3 px-4">
                  <div class="d-flex align-items-center">
                    <p class="fs-sm fw-bold">
                      Kate Winslet
                    </p>
                    <p class="fs-xs text-muted ms-auto">
                      3h ago
                    </p>
                  </div>
                  <p class="fs-sm p-0">
                    Most human beings complain about the meanness of nature, because we are born for a brief span of life.
                  </p>
                </div>
              </div>
              <div class="d-flex mt-3">
                <div class="avatar me-3">
                  <img src="assets/img/uifaces/2.jpg" class="avatar-image rounded-circle" alt="">
                </div>
                <div class="flex-1 bg-light rounded-3 py-3 px-4">
                  <div class="d-flex align-items-center">
                    <p class="fs-sm fw-bold">
                      Robin Williams
                    </p>
                    <p class="fs-xs text-muted ms-auto">
                      5h ago
                    </p>
                  </div>
                  <p class="fs-sm p-0">
                    Most human beings complain about the meanness of nature?
                  </p>
                </div>
              </div>

              <!-- comment -->
              <div class="d-flex align-items-start border-top border-gray-200 mt-4 py-4">
                <div class="avatar me-3">
                  <img src="assets/img/uifaces/4.jpg" class="avatar-image rounded-circle" alt="">
                </div>

                <form class="d-flex flex-grow-1 pt-2">
                  <textarea class="form-control form-control-flush" placeholder="Add a new comment" rows="1" data-toggle="autosize"></textarea>

                  <div class="d-flex align-items-center ms-3">
                    <a href="#!" class="svg-icon svg-icon-sm text-muted" data-bs-toggle="tooltip" title="Attach a file">
                      <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-d</title><path d="M216.08,192V335.85a40.08,40.08,0,0,0,80.15,0l.13-188.55a67.94,67.94,0,1,0-135.87,0V337.12a95.51,95.51,0,1,0,191,0V159.74" style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/></svg>
                    </a>
                    <a href="#!" class="svg-icon svg-icon-sm text-muted ms-3" data-bs-toggle="tooltip" title="Take a picture">
                      <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-e</title><path d="M350.54,148.68l-26.62-42.06C318.31,100.08,310.62,96,302,96H210c-8.62,0-16.31,4.08-21.92,10.62l-26.62,42.06C155.85,155.23,148.62,160,140,160H80a32,32,0,0,0-32,32V384a32,32,0,0,0,32,32H432a32,32,0,0,0,32-32V192a32,32,0,0,0-32-32H373C364.35,160,356.15,155.23,350.54,148.68Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><circle cx="256" cy="272" r="80" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><polyline points="124 158 124 136 100 136 100 158" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
                    </a>
                    <a href="#!" class="svg-icon svg-icon-sm text-muted ms-3" data-bs-toggle="tooltip" title="Record an audio">
                      <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-g</title><line x1="192" y1="448" x2="320" y2="448" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M384,208v32c0,70.4-57.6,128-128,128h0c-70.4,0-128-57.6-128-128V208" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="256" y1="368" x2="256" y2="448" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M256,64a63.68,63.68,0,0,0-64,64V239c0,35.2,29,65,64,65s64-29,64-65V128C320,92,292,64,256,64Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- post -->
          <div class="card mt-5">
            <div class="card-body">
              <div class="d-flex flex-wrap align-items-start">
                <div class="avatar me-3">
                  <img src="assets/img/uifaces/8.jpg" class="avatar-image rounded-circle" alt="">
                </div>
                <div class="flex-1">
                  <div class="fw-bold">
                    Kate Winslet
                  </div>
                  <span class="text-muted fs-sm">
                    2d ago
                  </span>
                </div>

                <div class="dropdown ms-auto">
                  <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon text-gray-500">
                      <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-f</title><circle cx="256" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><circle cx="416" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><circle cx="96" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/></svg>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end shadow-light-sm" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#!">Edit</a>
                    <a class="dropdown-item" href="#!">Remove</a>
                  </div>
                </div>
              </div>

              <p class="mt-3">
                Most human beings complain about the meanness of nature, because we are born for a brief span of life, and because this spell of time that has been given to us rushes by so swiftly and rapidly that with very few exceptions life ceases for the rest of us just when we are getting ready for it.
              </p>

              <!-- react -->
              <div class="d-flex align-items-center border-bottom border-gray-200 mt-4 pb-4">
                <a href="#!" class="btn btn-white btn-sm text-primary me-1">
                  👍 <span class="ms-1">14</span>
                </a>
                <a href="#!" class="btn btn-white btn-sm text-primary me-1">
                  🎉 <span class="ms-1">8</span>
                </a>
                <a href="#!" class="btn btn-white btn-sm text-primary me-1">
                  😮 <span class="ms-1">5</span>
                </a>

                <div class="dropdown">
                  <a href="#" class="btn btn-white text-primary btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fs-base fa-smile text-primary"></i> +
                  </a>
                  <div class="dropdown-menu shadow-light-sm" aria-labelledby="dropdownMenuButton">
                    <div class="row row-cols-3 justify-content-between text-center fs-lg w-100 g-0">
                      <div class="col mb-3"><a href="#!" class="text-decoration-none">👍</a></div>
                      <div class="col mb-3"><a href="#!" class="text-decoration-none">🙌</a></div>
                      <div class="col mb-3"><a href="#!" class="text-decoration-none">❤️</a></div>
                      <div class="col"><a href="#!" class="text-decoration-none">🎉</a></div>
                      <div class="col"><a href="#!" class="text-decoration-none">😮</a></div>
                      <div class="col"><a href="#!" class="text-decoration-none">👀</a></div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- comments -->
              <div class="d-flex mt-3">
                <div class="avatar me-3">
                  <img src="assets/img/uifaces/11.jpg" class="avatar-image rounded-circle" alt="">
                </div>
                <div class="flex-1 bg-light rounded-3 py-3 px-4">
                  <div class="d-flex align-items-center">
                    <p class="fs-sm fw-bold">
                      Kate Winslet
                    </p>
                    <p class="fs-xs text-muted ms-auto">
                      3h ago
                    </p>
                  </div>
                  <p class="fs-sm m-0">
                    Not what we have but what we enjoy, constitutes our abundance.
                  </p>
                </div>
              </div>
              <div class="d-flex mt-3">
                <div class="avatar me-3">
                  <img src="assets/img/uifaces/13.jpg" class="avatar-image rounded-circle" alt="">
                </div>
                <div class="flex-1 bg-light rounded-3 py-3 px-4">
                  <div class="d-flex align-items-center">
                    <p class="fs-sm fw-bold">
                      Matt Damon
                    </p>
                    <p class="fs-xs text-muted ms-auto">
                      5h ago
                    </p>
                  </div>
                  <p class="fs-sm m-0">
                    The happiness of your life depends upon the quality of your thoughts.
                  </p>
                </div>
              </div>

              <!-- comment -->
              <div class="d-flex align-items-start border-top border-gray-200 mt-4 py-4">
                <div class="avatar me-3">
                  <img src="assets/img/uifaces/4.jpg" class="avatar-image rounded-circle" alt="">
                </div>

                <form class="d-flex flex-grow-1 pt-2">
                  <textarea class="form-control form-control-flush" placeholder="Add a new comment" rows="1" data-toggle="autosize"></textarea>

                  <div class="d-flex align-items-center ms-3">
                    <a href="#!" class="svg-icon svg-icon-sm text-muted" data-bs-toggle="tooltip" title="Attach a file">
                      <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-d</title><path d="M216.08,192V335.85a40.08,40.08,0,0,0,80.15,0l.13-188.55a67.94,67.94,0,1,0-135.87,0V337.12a95.51,95.51,0,1,0,191,0V159.74" style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/></svg>
                    </a>
                    <a href="#!" class="svg-icon svg-icon-sm text-muted ms-3" data-bs-toggle="tooltip" title="Take a picture">
                      <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-e</title><path d="M350.54,148.68l-26.62-42.06C318.31,100.08,310.62,96,302,96H210c-8.62,0-16.31,4.08-21.92,10.62l-26.62,42.06C155.85,155.23,148.62,160,140,160H80a32,32,0,0,0-32,32V384a32,32,0,0,0,32,32H432a32,32,0,0,0,32-32V192a32,32,0,0,0-32-32H373C364.35,160,356.15,155.23,350.54,148.68Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><circle cx="256" cy="272" r="80" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><polyline points="124 158 124 136 100 136 100 158" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
                    </a>
                    <a href="#!" class="svg-icon svg-icon-sm text-muted ms-3" data-bs-toggle="tooltip" title="Record an audio">
                      <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-g</title><line x1="192" y1="448" x2="320" y2="448" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M384,208v32c0,70.4-57.6,128-128,128h0c-70.4,0-128-57.6-128-128V208" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="256" y1="368" x2="256" y2="448" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M256,64a63.68,63.68,0,0,0-64,64V239c0,35.2,29,65,64,65s64-29,64-65V128C320,92,292,64,256,64Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4 mt-md-0">
          <div class="card mb-4 mb-md-5">
            <div class="card-header d-flex">
              <div class="card-header-title fw-normal">
                Contact
              </div>
              <div class="dropdown ms-auto">
                <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="svg-icon text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-f</title><circle cx="256" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><circle cx="416" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><circle cx="96" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/></svg>
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow-light-sm" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#!">Edit information</a>
                </div>
              </div>
            </div>
            <div class="card-body py-1">
              <ul class="list-group list-group-flush d-flex">
                <li href="#!" class="list-group-item d-md-flex align-items-center">
                  <span>Phone</span>
                  <span class="ms-auto">(555) 123-456</span>
                </li>
                <li href="#!" class="list-group-item d-md-flex align-items-center">
                  <span>Email</span>
                  <span class="ms-auto">steven@email.com</span>
                </li>
                <li href="#!" class="list-group-item d-md-flex align-items-center">
                  <span>Role</span>
                  <span class="ms-auto">Director of Design</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="card">
            <div class="card-header d-flex">
              <div class="card-header-title fw-normal">
                Shortcuts
              </div>
              <div class="dropdown ms-auto">
                <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="svg-icon text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-f</title><circle cx="256" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><circle cx="416" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><circle cx="96" cy="256" r="32" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/></svg>
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow-light-sm" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#!">Edit shortcuts</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <a href="#!" class="list-group-item text-decoration-none d-flex align-items-center">
                  <div class="avatar me-3">
                    <img src="assets/img/unsplash/3.jpeg" class="avatar-image rounded" alt="">
                  </div>
                  <div class="fs-sm">
                    Architecture Project 2023
                  </div>
                </a>
                <a href="#!" class="list-group-item text-decoration-none d-flex align-items-center">
                  <div class="avatar me-3">
                    <img src="assets/img/unsplash/5.jpeg" class="avatar-image rounded" alt="">
                  </div>
                  <div class="fs-sm">
                    Organic Farming
                  </div>
                </a>
                <a href="#!" class="list-group-item text-decoration-none d-flex align-items-center">
                  <div class="avatar me-3">
                    <img src="assets/img/unsplash/4.jpeg" class="avatar-image rounded" alt="">
                  </div>
                  <div class="fs-sm">
                    Photography Course II
                  </div>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>