<div class="py-3">
  <%= link_to "Explore Photos", explore_path, class: "btn btn-primary btn-block" %>
  <%= link_to "Sell Photos", new_user_registration_path, class: "btn btn-primary btn-block" %>
  <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-block" %>
</div>

<h1 class="text-center py-4">
  Image Hawk
  <%= image_tag "image-hawk-logo.png", width: '50px' %>
</h1>

<p>Make money with your action photography work.</p>
<p>Here's an example of your business:</p>
<p>You take photos of surfers from the beach.</p>
<p>The surfers want to buy the high-resolution photos you took.</p>
<p>When they get out of the water, you give them a card and say, "I got some great photos of you. You can check them out here".</p>
<p>That card has your ImageHawk address on there.</p>
<p>Later that day, you upload your work to ImageHawk.</p>
<p>The surfer can see low resolution images and pick the ones they want. They pay via credit card online and the high-resolution photos are automatically sent to them.</p>
<p>You get paid via direct deposit, PayPal or it can be converted to Bitcoin and moved to your wallet.</p>
