<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h1>Image Hawk is a platform for photographers to sell their work.</h1>
        <p>Make money with your action photography work.</p>
        <p>Here's an example of your business:</p>
        <p>You take photos of surfers from the beach.</p>
        <p>The surfers want to buy the high-resolution photos you took.</p>
        <p>When they get out of the water, you give them a card and say, "I got some great photos of you. You can check them out here".</p>
        <p>That card has your ImageHawk address on there.</p>
        <p>Later that day, you upload your work to ImageHawk.</p>
        <p>The surfer can see low resolution images and pick the ones they want. They pay via credit card online and the high-resolution photos are automatically sent to them.</p>
        <p>You get paid via direct deposit, PayPal or it can be converted to Bitcoin and moved to your wallet.</p>

        <h3>Features to Develop</h3>
        <ul>
          <li>Automate payout to photographers</li>
          <li>Create interface for photographers to see successful charges</li>
          <li>Automate Instagram posting so photographers can automatically announce their latest upload</li>
        </ul>
      </div>
    </div>
  </div>
</div>