 <div class="card mb-3">
  <%= image_tag ActiveStorage::Attachment.find(charge.asset_id), class: "card-img-top" %>
  <div class="card-body">
    <p class="card-text text-end">
      <span class="badge rounded-pill bg-success text-end">Payment Successful #<%= charge.id %></span>
    </p>
    <% if charge.payment_successful %>
      <span class="badge badge-success">Charge Successful for <%= charge.inspect %></span>
    <% else %>
      <span class="badge badge-danger">Charge Unsuccessful</span>
    <% end %>
  </div>
</div>
