<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-6 py-3">
    <div class="card">
      <div class="card-header">
        Photos you Have Sold
      </div>
      <ul class="list-group list-group-flush">
        <% @charges_buys.each do |charge| %>
          <%= render 'charges/charge_list_group_item', charge: charge %>
        <% end %>
        <% if @charges_buys.empty? %>
          <li class='list-group-item'>No Sales Yet</li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 py-3">
    <div class="card">
      <div class="card-header">
        Photos you Have Bought
      </div>
      <ul class="list-group list-group-flush">
        <% @charges_sales.each do |charge| %>
          <%= render 'charges/charge_list_group_item', charge: charge %>
        <% end %>
        <% if @charges_sales.empty? %>
          <li class='list-group-item'>No Sales Yet</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
