
<div class="py-4">
  <p>If you want to talk about this error with the development team, please contact via WhatsApp</p>
  <%= link_to "Contact on WhatsApp", 'https://wa.me/13476883697', class: "btn btn-success btn-block col-12", target: "_blank" %>
</div>